@charset "UTF-8";
.padding {
  padding: 0 calc(260 / 1920 * 100%);
  box-sizing: border-box;
}

.public-title {
  width: 480px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.public-title .t-line {
  width: 120px;
  height: 4px;
  margin: 13px 0;
}

.public-title .t-line1 {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #0455DC);
}

.public-title .t-line2 {
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #0455DC);
}

.public-title .t-txt {
  width: 120px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #333;
}

.public-title .t-circle {
  width: 8px;
  height: 8px;
  background-color: #0455DC;
  border-radius: 50%;
  margin: 11px 17px;
}

.public-see-more {
  width: 160px;
  height: 14px;
  margin: 0;
  padding-left: 30px;
  box-sizing: border-box;
}

.public-see-more a {
  display: flex;
  align-items: center;
}

.public-see-more .s-txt {
  line-height: 14px;
  font-size: 14px;
  color: #666;
  margin-right: 4px;
  transition: all .2s;
}

.public-see-more .s-img {
  line-height: 14px;
  font-size: 20px;
  color: #666;
  height: 14px;
}

.public-see-more:hover {
  cursor: pointer;
}

.public-see-more:hover .s-txt {
  margin-right: 14px;
  color: #0455DC;
}

.public-see-more:hover .s-img {
  color: #0455DC;
}

/*回到顶部*/
#rocket-to-top {
  background: url("../img/huojian.png") no-repeat scroll 0 0 transparent;
  cursor: default;
  display: block;
  height: 250px;
  margin: -125px 0 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 80%;
  width: 149px;
  z-index: 11;
}

#rocket-to-top div {
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

#rocket-to-top .level-2 {
  background: url("../img/huojian.png") no-repeat scroll -149px 0 transparent;
  display: none;
  height: 250px;
  opacity: 0;
  z-index: 1;
}

#rocket-to-top .level-3 {
  background: none repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 150px;
  z-index: 2;
}

body {
  padding-top: 100px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 11;
  background-color: #EEE;
}

.header .header-heart {
  position: relative;
}

.header .header-heart .logo {
  width: 97px;
  height: 70px;
  margin: 15px 20px 15px 0;
}

.header .header-heart .home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-heart .home .nav {
  flex: auto;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.header .header-heart .home .nav li .nav-li {
  font-size: 16px;
  height: 100px;
  font-weight: 400;
  padding: 39px 0;
  box-sizing: border-box;
}

.header .header-heart .home .nav li .show {
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: #1663D1;
  color: #fff;
  display: flex;
  justify-content: start;
  z-index: -1;
  left: 0;
  top: 80px;
  opacity: 0;
  transition: all .2s;
  padding: 0 calc(360 / 1920 * 100%) 0 calc(360 / 1920 * 100% + 117px);
  box-sizing: border-box;
}

.header .header-heart .home .nav li .show .s-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-heart .home .nav li .show .s-heart a {
  padding: 0 20px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.header .header-heart .home .nav li .show .s-heart a:last-child {
  border-right: 0;
}

.header .header-heart .home .nav li .show .s-heart a:hover {
  color: #ccc;
}

.header .header-heart .home .nav li:hover .nav-li {
  color: #0455DC;
  border-bottom: 3px solid #0455DC;
}

.header .header-heart .home .nav li:hover .show {
  top: 100px;
  z-index: 1;
  opacity: 1;
}

.header .header-heart .home .nav li.h-active .nav-li {
  color: #0455DC;
  border-bottom: 3px solid #0455DC;
}

.header .header-heart .home .search {
  flex: .2;
}

.header .header-heart .home .search .search-img {
  width: 20px;
  height: 20px;
  margin: 40px auto;
  background: url(../img/search.png);
}

.header .header-heart .home .search .search-img:hover {
  background: url(../img/search2.png);
  cursor: pointer;
}

.header .header-heart .home .search .show {
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: #1663D1;
  display: flex;
  justify-content: start;
  z-index: -1;
  left: 0;
  top: 80px;
  opacity: 0;
  transition: all .2s;
  padding: 5px calc(260 / 1920 * 100vw) 5px calc(260 / 1920 * 100vw + 300px);
  box-sizing: border-box;
}

.header .header-heart .home .search .show input {
  background-color: #fff;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
  flex: auto;
}

.header .header-heart .home .search .show button {
  background-color: #1663D1;
  color: #fff;
  border: 1px solid #fff;
  width: 50px;
  height: 40px;
  margin-left: 5px;
}

.header .header-heart .home .search .search-show {
  top: 100px;
  z-index: 1;
  opacity: 1;
}

.header .header-heart .home .lang {
  flex: .2;
}

.header .header-heart .home .lang div {
  width: 90px;
  height: 24px;
  border: 1px solid #c2c2c2;
  border-radius: 12px;
  margin: 37px auto;
  position: relative;
}

.header .header-heart .home .lang div .EN,
.header .header-heart .home .lang div .CN {
  position: absolute;
  width: 50px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #999;
  border-radius: 10px;
}

.header .header-heart .home .lang div .EN {
  left: 0;
}

.header .header-heart .home .lang div .CN {
  right: 0;
}

.header .header-heart .home .lang div .l-active {
  background-color: #0455DC;
  color: #fff;
}

.header .header-heart .home .hamburger-btn {
  display: none;
}

.header .header-heart .home .hamburger-btn .btn {
  font-size: 30px;
  color: #0455DC;
  cursor: pointer;
}

.header .header-heart .home .hamburger-btn .btn2 {
  display: none;
}

.header .hamburger {
  width: 100%;
  line-height: 40px;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.header .hamburger .ham {
  width: 100%;
}

.header .hamburger .ham li {
  border-bottom: 1px solid #ddd;
  background-color: #0455DC;
}

.header .hamburger .ham li .ham-top {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.header .hamburger .ham li .ham-top .ham-li {
  flex: auto;
  color: #fff;
}

.header .hamburger .ham li .ham-top .ham-li:hover {
  color: #ddd;
}

.header .hamburger .ham li .ham-top .btn {
  color: #fff;
  cursor: pointer;
  width: 30px;
  text-align: right;
  border-left: 1px solid #fff;
}

.header .hamburger .ham li .ham-top .btn2 {
  display: none;
}

.header .hamburger .ham li .ham-show {
  line-height: 35px;
  display: none;
  color: #fff;
  background-color: #478FF6;
  padding: 0 20px;
  box-sizing: border-box;
}

.header .hamburger .ham li .ham-show a {
  border-bottom: 1px solid #ddd;
  padding: 0 calc(380 / 1920 * 100%);
  box-sizing: border-box;
}

.header .hamburger .ham li .ham-show a:hover {
  color: #ddd;
}

.header .hamburger .ham li .ham-show a:last-child {
  border-bottom: 0;
}

.header .hamburger .mask {
  width: 100vw;
  height: 100vh;
}

.index-main {
  width: 100%;
}

.index-main .banner {
  width: 100%;
  position: relative;
}

.index-main .banner .swiper1 .slide-heart {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}

.index-main .banner .swiper1 .slide-heart .img {
  width: 100%;
  height: 100%;
}

.index-main .banner .swiper1 .slide-heart .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-main .banner .swiper1 .slide-heart .text {
  width: 100%;
  position: absolute;
  z-index: 11;
  top: 15vh;
  left: 0;
  text-align: center;
  font-size: 20px;
  color: #000;
}

.index-main .banner .swiper-tab {
  position: absolute;
  width: 276px;
  bottom: 36px;
  left: 50%;
  margin-left: -138px;
}

.index-main .banner .swiper-tab .swiper-slide-thumb-active .img {
  border: 2px solid #fff;
}

.index-main .banner .swiper-tab .swiper-slide {
  width: 92px;
}

.index-main .banner .swiper-tab .swiper-slide .img {
  width: 72px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  height: 40px;
}

.index-main .main-html {
  padding-top: 90px;
}

.index-main .main-html ul {
  padding-top: 40px;
}

.index-main .main-html ul li {
  background-color: #fff;
}

.index-main .main-html ul li .li-heart {
  padding: 36px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}

.index-main .main-html ul li .li-heart .img {
  width: calc(280 / 1920 * 100vw);
  margin-right: calc(100 / 1920 * 100vw);
  float: left;
  position: relative;
}

.index-main .main-html ul li .li-heart .img .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: all .5s;
}

.index-main .main-html ul li .li-heart .img:hover .mask {
  background-color: rgba(255, 255, 255, 0.4);
}

.index-main .main-html ul li .li-heart .art .tlt {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #333;
  line-height: 30px;
}

.index-main .main-html ul li .li-heart .art .tlt:hover {
  cursor: pointer;
  color: #0455DC;
}

.index-main .main-html ul li .li-heart .art .txt {
  font-size: 14px;
  text-align: left;
  color: #666;
  line-height: 24px;
  padding-top: 20px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.index-main .main-html ul li .li-heart .art .txt:hover {
  cursor: pointer;
  color: #0455DC;
}

.index-main .main-html ul li .li-heart .art .more {
  display: flex;
  height: 14px;
  padding-top: 30px;
}

.index-main .main-html ul li .li-heart .art .more .time {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #999;
  line-height: 14px;
  padding-right: 36px;
  border-right: 1px solid #ddd;
  cursor: default;
}

.index-main .main-html ul li .li-heart .li-line {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  z-index: 1;
  background-color: #0455DC;
  left: -100%;
  transition: all .5s;
}

.index-main .main-html ul li:hover .li-line {
  left: 0;
}

.index-main .main-css {
  padding: 90px 0;
  background-color: #F8F9FB;
}

.index-main .main-css ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}

.index-main .main-css ul li {
  width: 22%;
  border-radius: 5px;
  overflow: hidden;
  transition: all .2s;
  box-shadow: 0px 4px 9.4px 0.6px rgba(0, 0, 0, 0.15);
  padding: 40px 15px;
  box-sizing: border-box;
}

.index-main .main-css ul li .img {
  width: 100%;
}

.index-main .main-css ul li .txt {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  padding: 20px 0;
}

.index-main .main-css ul li .txt:hover {
  color: #0455DC;
}

.index-main .main-css ul li .public-see-more {
  margin: 0 auto;
}

.index-main .main-css ul li:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.15);
}

.index-main .main-js {
  padding: 90px 0;
}

.index-main .main-js ul {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}

.index-main .main-js ul li {
  width: 48%;
}

.index-main .main-js ul li .txt {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  padding: 15px 0;
}

.index-main .main-js ul li .txt:hover {
  color: #0455DC;
}

.index-main .main-js ul li .line {
  width: 40px;
  height: 3px;
  background-color: #0455DC;
  transition: all .3s;
}

.index-main .main-js ul li .art {
  padding-top: 15px;
  line-height: 25px;
  font-size: 16px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.index-main .main-js ul li .art:hover {
  color: #0455DC;
}

.index-main .main-js ul li:hover .line {
  width: 100%;
}

.index-main .main-vue {
  padding: 90px 0;
  background-color: #F8F9FB;
}

.index-main .main-vue ul {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  min-height: 246px;
}

.index-main .main-vue ul li {
  width: 33%;
  background-color: #fff;
  padding: 20px 40px;
  box-sizing: border-box;
  transition: all .2s;
}

.index-main .main-vue ul li .li-heart {
  padding-top: 50px;
  transition: all .2s;
}

.index-main .main-vue ul li .li-heart .tlt {
  font-size: 20px;
  font-weight: 700;
  color: #0455DC;
  line-height: 40px;
  transition: all .2s;
}

.index-main .main-vue ul li .li-heart .txt {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 32px;
  transition: all .2s;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.index-main .main-vue ul li .li-heart .public-see-more {
  padding-left: 0;
  padding-top: 20px;
  height: 20px;
  transition: all .2s;
  opacity: 0;
}

.index-main .main-vue ul li:hover {
  background-color: #0455DC;
}

.index-main .main-vue ul li:hover .li-heart {
  padding-top: 10px;
}

.index-main .main-vue ul li:hover .li-heart .tlt {
  color: #fff;
}

.index-main .main-vue ul li:hover .li-heart .txt {
  color: #fff;
}

.index-main .main-vue ul li:hover .li-heart .public-see-more {
  opacity: 1;
}

.index-main .main-vue ul li:hover .li-heart .public-see-more a .s-txt,
.index-main .main-vue ul li:hover .li-heart .public-see-more a .s-img {
  color: #fff;
}

.index-main .main-wx {
  padding: 90px 0;
}

.index-main .main-wx ul {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}

.index-main .main-wx ul li {
  width: 100%;
  padding: 0 20px;
}

.index-main .main-wx ul li .img {
  display: flex;
  justify-content: center;
}

.index-main .main-wx ul li .tlt {
  padding-bottom: 20px;
  text-align: center;
  font-size: 26px;
  color: #0455DC;
  font-weight: 700;
}

.index-main .main-wx ul li .txt {
  color: #000;
  font-size: 16px;
  line-height: 26px;
}

.footer {
  padding-top: 80px;
  background-color: #eee;
}

.footer .heart {
  width: 100%;
}

.footer .heart .o-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer .heart .o-list .o-li .tlt {
  font-size: 16px;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  text-align: left;
  color: #333;
  line-height: 24px;
  margin-bottom: 30px;
}

.footer .heart .o-list .o-li .tlt:hover {
  color: #0455DC;
}

.footer .heart .o-list .o-li ul li {
  font-size: 14px;
  text-align: left;
  color: #666;
  line-height: 30px;
}

.footer .heart .o-list .o-li ul li:hover {
  color: #0455DC;
}

.footer .heart .o-list .o-li .code {
  width: 100%;
}

.footer .heart .o-list .o-li .code li {
  width: 200px;
}

.footer .heart .o-list .o-li .code li .code-txt {
  width: 100%;
  text-align: center;
  line-height: 40px;
}

.footer .heart .o-list .o-li .goto-name {
  display: flex;
  padding-top: 20px;
}

.footer .heart .o-list .o-li .goto-name .g-name {
  margin-right: 10px;
}

.footer .heart .f-add {
  display: flex;
  justify-content: space-between;
  height: 42px;
  border-top: 1px solid #ccc;
  align-items: center;
}

.footer .heart .f-add .add-fl {
  font-size: 12px;
  text-align: left;
  color: #666;
}
