@charset "UTF-8";
body {
  font-family: 'Microsoft YaHei', '微软雅黑', 'Century Gothic', 'Helvetica', 'SimSun', '宋体', 'Heiti', '黑体', 'Arial', 'sans-serif';
  font-size: 14px;
  width: 100%;
  height: 100%;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: all 0.2s;
}

.simple-article ul li,
ol li {
  list-style: inside;
}

button {
  border: 0;
  cursor: pointer;
  transition: 0.3s all;
  display: block;
}

input,
select,
textarea {
  border: none;
  outline: none;
  background: none;
  font-family: '微软雅黑';
  padding: 0;
}

textarea {
  resize: none;
  overflow: hidden;
  -webkit-appearance: none;
}

img {
  border: none;
  vertical-align: top;
}

table {
  border: 0;
  border-collapse: collapse;
}

em,
i {
  font-style: normal;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  font: normal 12px "Arial", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Heiti", "黑体", "sans-serif";
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.owl-stage {
  transition: 0.75s all !important;
}

input:-ms-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input::-webkit-input-placeholder {
  color: #999;
}

.margin {
  width: 1200px;
  margin: 0 auto;
}

.click-details {
  width: 110px;
}

.click-details .click-con {
  width: 100%;
  display: flex;
  font-size: 14px;
  text-align: left;
  color: #666;
  line-height: 28px;
}

.click-details .click-con .txt {
  margin-right: 10px;
  transition: all .2s;
}

.click-details .click-con .c-img {
  font-size: 16px;
}

.click-details .click-con:hover {
  color: #0093DD;
}

.click-details .click-con:hover .txt {
  margin-right: 20px;
}

.bshare-custom .bshare-weixin {
  background: url(../img/share1.png) no-repeat !important;
}

.bshare-custom .bshare-weixin:hover {
  background: url(../img/share01.png) no-repeat !important;
}

.bshare-custom .bshare-sinaminiblog {
  background: url(../img/share2.png) no-repeat !important;
}

.bshare-custom .bshare-sinaminiblog:hover {
  background: url(../img/share02.png) no-repeat !important;
}

.bshare-custom .bshare-qqim {
  background: url(../img/share3.png) no-repeat !important;
}

.bshare-custom .bshare-qqim:hover {
  background: url(../img/share03.png) no-repeat !important;
}

.bshare-custom .bshare-qzone {
  background: url(../img/share4.png) no-repeat !important;
}

.bshare-custom .bshare-qzone:hover {
  background: url(../img/share04.png) no-repeat !important;
}

.html-body-overflow {
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  z-index: 11;
  background-color: #fff;
}

.header .header-heart .logo {
  width: 162px;
  height: 44px;
  margin: 23px 0;
  background: url(../img/logo.png);
}

.header .header-heart .home {
  width: calc(100% - 162px);
  padding-left: 160px;
  box-sizing: border-box;
}

.header .header-heart .home .nav {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header .header-heart .home .nav li {
  line-height: 90px;
}

.header .header-heart .home .nav li .nav-li {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 36px 10px 35px;
  box-sizing: border-box;
  transition: all .1s;
}

.header .header-heart .home .nav li .show {
  position: absolute;
  width: 1200px;
  height: 0;
  left: 50%;
  margin-left: -600px;
  top: 90px;
  transition: all .3s;
  visibility: hidden;
  transform: translate(0, -40px);
  opacity: 0;
}

.header .header-heart .home .nav li .show .s-heart {
  width: 880px;
  background-color: #fff;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 54px;
  box-sizing: border-box;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 ul {
  width: 300px;
  padding: 16px;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 ul li {
  border-bottom: 1px solid #eee;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 ul li .txt {
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 14px;
  color: #484848;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 ul li:hover .txt {
  color: #0093DD;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 .heart-r {
  padding: 32px 79px 0 0;
  box-sizing: border-box;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 .heart-r .h-img {
  width: 300px;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 .heart-r .tlt {
  font-size: 16px;
  text-align: left;
  color: #333;
  line-height: 40px;
}

.header .header-heart .home .nav li .show .s-heart .s-heart1 .heart-r:hover .tlt {
  color: #0093DD;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 {
  padding: 0 18px;
  box-sizing: border-box;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-top {
  width: 100%;
  padding: 33px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-top .t-left {
  font-size: 16px;
  text-align: left;
  color: #333;
  width: 164px;
  border-right: 1px solid #eee;
  cursor: pointer;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-top .t-left:hover {
  color: #0093DD;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-top ul {
  width: calc(100% - 164px);
  display: flex;
  flex-wrap: wrap;
  padding-left: 90px;
  box-sizing: border-box;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-top ul li {
  width: 146px;
  font-size: 14px;
  text-align: left;
  color: #666;
  line-height: 30px;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-top ul li:hover {
  color: #0093DD;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-btm {
  width: 100%;
  padding: 33px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-btm .b-left {
  font-size: 16px;
  text-align: left;
  color: #333;
  width: 164px;
  border-right: 1px solid #eee;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-btm .b-left:hover {
  color: #0093DD;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-btm ul {
  width: calc(100% - 164px);
  display: flex;
  flex-wrap: wrap;
  padding-left: 90px;
  box-sizing: border-box;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-btm ul li {
  width: 180px;
  height: 90px;
  margin-right: 20px;
  position: relative;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-btm ul li:nth-child(3n) {
  margin-right: 0;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-btm ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url(../img/header2.png) center center no-repeat;
  z-index: 1;
  background-size: cover;
}

.header .header-heart .home .nav li .show .s-heart .s-heart2 .box-btm ul li a {
  position: absolute;
  font-size: 14px;
  line-height: 90px;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.header .header-heart .home .nav li .h-active {
  color: #0093DD;
  border-bottom: 3px solid #0093DD;
}

.header .header-heart .home .nav li:hover .nav-li {
  color: #0093DD;
  border-bottom: 3px solid #0093DD;
}

.header .header-heart .home .nav li:hover .show {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.header .header-heart .home .nav-fr {
  display: flex;
  justify-content: space-between;
}

.header .header-heart .home .nav-fr .lang {
  width: 95px;
  margin-left: 20px;
}

.header .header-heart .home .nav-fr .lang .lang1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.header .header-heart .home .nav-fr .lang .lang1 .lang-img {
  width: 100%;
  line-height: 18px;
  color: #0093DD;
}

.header .header-heart .home .nav-fr .lang .lang1 .lang-img .UA1 {
  display: none;
}

.header .header-heart .home .nav-fr .lang .lang1 .tge-bom {
  width: 8px;
  height: 4px;
}

.header .header-heart .home .nav-fr .lang .lang2 {
  display: none;
  width: 95px;
  height: 80px;
  box-shadow: 0px 2px 8px 6px rgba(0, 147, 221, 0.15);
  margin-top: 28px;
  background-color: #fff;
}

.header .header-heart .home .nav-fr .lang .lang2 .lang-img1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.header .header-heart .home .nav-fr .lang .lang2 .lang-img1 .lang-img {
  width: 100%;
  line-height: 18px;
}

.header .header-heart .home .nav-fr .lang .lang2 .lang-img1 .lang-img .UA2 {
  display: none;
}

.header .header-heart .home .nav-fr .lang .lang2 .lang-img1 .tge-top {
  width: 8px;
  height: 4px;
}

.header .header-heart .home .nav-fr .lang .lang2 .line {
  width: calc(100% - 16px);
  height: 1px;
  background-color: #ddd;
  margin: 8px auto;
}

.header .header-heart .home .nav-fr .lang .lang2 .lang-img2 {
  width: 100%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.header .header-heart .home .nav-fr .lang .lang2 .lang-img2 img {
  width: 100%;
}

.header .header-heart .home .nav-fr .lang .lang2 .lang-img2 .CN3 {
  display: none;
}

.header .header-heart .home .nav-fr .hamburger-btn {
  display: none;
}

.header .header-heart .home .nav-fr .hamburger-btn .btn {
  width: 24px;
  height: 24px;
  color: #0093DD;
  font-size: 24px;
  cursor: pointer;
  line-height: 90px;
}

.header .header-heart .home .nav-fr .hamburger-btn .btn2 {
  display: none;
}

.header .hamburger {
  width: 100%;
  line-height: 40px;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.header .hamburger .ham {
  width: 100%;
}

.header .hamburger .ham li {
  border-bottom: 1px solid #ddd;
  background-color: #0093DD;
}

.header .hamburger .ham li .ham-top {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 0 32px;
  box-sizing: border-box;
}

.header .hamburger .ham li .ham-top .ham-li {
  flex: auto;
  color: #fff;
}

.header .hamburger .ham li .ham-top .ham-li:hover {
  color: #ddd;
}

.header .hamburger .ham li .ham-top .btn {
  color: #fff;
  cursor: pointer;
  width: 30px;
  text-align: right;
  border-left: 1px solid #fff;
}

.header .hamburger .ham li .ham-top .btn2 {
  display: none;
}

.header .hamburger .ham li .ham-show {
  line-height: 35px;
  display: none;
  color: #fff;
  background-color: #2BB4F9;
  padding: 0 32px;
  box-sizing: border-box;
}

.header .hamburger .ham li .ham-show a {
  border-bottom: 1px solid #ddd;
  padding: 0 32px;
  box-sizing: border-box;
}

.header .hamburger .ham li .ham-show a:hover {
  color: #ddd;
}

.header .hamburger .ham li .ham-show a:last-child {
  border-bottom: 0;
}

.header .hamburger .mask {
  width: 100vw;
  height: 100vh;
}

.footer {
  width: 100%;
  background-color: #fff;
}

.footer .footer-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-heart .f-left {
  width: calc(100% - 130px);
}

.footer .footer-heart .f-left .f-top {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 28px;
}

.footer .footer-heart .f-left .f-top .top-l {
  display: flex;
}

.footer .footer-heart .f-left .f-top .top-l .txt {
  font-size: 18px;
  text-align: left;
  color: #333;
  line-height: 28px;
}

.footer .footer-heart .f-left .f-top .top-l .add {
  display: flex;
  padding-right: 34px;
}

.footer .footer-heart .f-left .f-top .top-l .add .add-img {
  margin-right: 14px;
}

.footer .footer-heart .f-left .f-top .top-l .phone {
  display: flex;
}

.footer .footer-heart .f-left .f-top .top-l .phone .phone-img {
  margin-right: 14px;
}

.footer .footer-heart .f-left .f-top .share {
  display: flex;
  margin-right: 140px;
}

.footer .footer-heart .f-left .f-top .share a {
  margin-right: 24px;
}

.footer .footer-heart .f-left .f-bom {
  border-top: 1px solid #ddd;
  font-size: 14px;
  text-align: left;
  color: #666;
  line-height: 14px;
  padding: 20px 0 40px;
}

.footer .footer-heart .code {
  width: 120px;
  height: 120px;
  margin-left: 10px;
}

.goToTop {
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 24px;
  border-radius: 50%;
  display: none;
  background-color: #fff;
}

.goToTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.goToTop a img {
  width: 18px;
  height: 23px;
}

.page {
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page .btn {
  display: flex;
}

.page .btn a {
  width: 38px;
  height: 38px;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  color: #333;
  line-height: 38px;
  margin: 0 8px;
}

.page .btn a:hover {
  background-color: #0093DD;
  color: #fff;
}

.page .btn .active {
  background-color: #0093DD;
  color: #fff;
}

.page .btn .prev,
.page .btn .next {
  width: 38px;
  height: 38px;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page .btn .prev img,
.page .btn .next img {
  width: 9px;
  height: 16px;
}

.page .go {
  font-size: 16px;
  text-align: left;
  color: #333;
  line-height: 38px;
}

.page .go span {
  color: #0093DD;
}
